html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  font-family: "PTRootUI", sans-serif;
  background-color: #F2F2F2;
}

.fs-text {
  font-size: 22px;
  line-height: 27.72px;
  font-style: normal;
  color: #333;
}
.fs-headers {
  font-size: 29px;
  line-height: 36.54px;
  font-style: normal;
  color: #333;
}

.section {
  margin: 0 auto;
}

.container {
  max-width: 1743px;
  margin: 0 auto;
}

.s-order {
  position: relative;
}
.s-order__container {
  padding-top: 48px;
  padding-bottom: 120px;
}
.s-order__title {
  margin-bottom: 19px;
  padding-left: 43px;
  font-size: 35px;
  color: #333;
}
.s-order__content {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border: 1px solid #C5C5C5;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.content-left {
  padding: 40px 43px;
  width: 64.1%;
  border-right: 1px solid #8C8C8C;
}
.content-left__title {
  margin-bottom: 14px;
}
.content-left__wrap:not(:last-child) {
  margin-bottom: 30px;
}
.content-left__wrap:first-child {
  position: relative;
}
.content-left__wrap-data {
  display: flex;
  margin-bottom: 14px;
  flex-direction: row;
}
.content-left__wrap-choice {
  display: flex;
  flex-direction: column;
}
.content-left__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}
.content-left__item {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #D6D6D6;
  border-radius: 4px;
  transition: border 0.2s ease-in-out;
}
.content-left__item--medium {
  max-width: 489px;
  height: 152px;
}
.content-left__item--medium .content-left__item-wrap {
  max-width: 89%;
}
.content-left__item--small {
  width: 272px;
  height: 96px;
}
.content-left__item--small:not(:last-child) {
  margin-right: 14px;
}
.content-left__item--small .content-left__item-wrap {
  width: auto;
}
.content-left__item:hover, .content-left__item:focus-visible {
  border: 2px solid #065CC2;
}
.content-left__item-title {
  font-weight: 700;
}
.content-left__item-title--mobile {
  display: none;
}
.content-left__item-description {
  font-weight: 400;
}
.content-left__item-price--desktop {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.content-left__item-price--mobile {
  display: none;
}
.content-left__swiper-btns {
  position: absolute;
  top: 0;
  right: 35px;
  width: 84px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content-left__swiper-container {
  max-width: 992px;
  margin-bottom: 14px;
  overflow: hidden;
}
.content-left__swiper-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.content-left__swiper-button-prev, .content-left__swiper-button-next {
  padding: 0;
  border: none;
  background: transparent;
  font-family: "PTRootUI", sans-serif;
  cursor: pointer;
  transition: backgroud, color 0.3s ease-in-out;
  position: relative;
  width: 40px;
  height: 40px;
}
.content-left__swiper-button-prev svg, .content-left__swiper-button-next svg {
  width: 100%;
  height: 90%;
}
.content-left__swiper-button-prev::after, .content-left__swiper-button-next::after {
  content: "";
}
.content-left__swiper-button-prev {
  transform: rotate(180deg);
  left: 0;
}
.content-left__swiper-button-next {
  right: 0;
}
.content-left__btn {
  padding: 0;
  border: none;
  background: transparent;
  font-family: "PTRootUI", sans-serif;
  cursor: pointer;
  transition: backgroud, color 0.3s ease-in-out;
  color: #065CC2;
}
.content-left__btn:hover, .content-left__btn:focus-visible {
  color: #A7BAF0;
  outline: none;
}
.content-left__checkbox {
  position: relative;
  cursor: pointer;
  padding-left: 34px;
}
.content-left__checkbox:not(:last-child) {
  margin-bottom: 14px;
}
.content-left__checkbox-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.content-left__checkbox-input + .content-left__checkbox-span {
  display: inline-flex;
  align-items: center;
}
.content-left__checkbox-input + .content-left__checkbox-span::before {
  content: url(../images/confirm.svg);
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background-image: url(../images/defolt.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.content-left__checkbox-input:checked + .content-left__checkbox-span::before {
  background-image: url(../images/active.svg);
}
.content-left__select {
  display: flex;
  flex-direction: row;
}
.content-left__select-section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
}
.content-left__select-section:not(:last-child) {
  margin-right: 14px;
}
.content-left__select-wrap {
  padding: 8px 14px;
  margin-bottom: 14px;
  height: 74px;
  border: 1px solid #D6D6D6;
  border-radius: 4px;
  overflow: hidden;
  background-image: url(../images/arrow.alt.down.svg);
  background-position: right 19px top 32px;
  background-size: 14px 7px;
  background-repeat: no-repeat;
}
.content-left__select-wrap--large {
  width: 572px;
}
.content-left__select-wrap--small {
  width: 287px;
}
.content-left__select-field {
  border: none;
}
.content-left__select-name {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 17px;
  line-height: 21.42px;
  color: #6E6E73;
}
.content-left__select-choice {
  position: relative;
  width: 1000px;
  padding-right: 10px;
  font-family: "PTRootUI", sans-serif;
  font-weight: 700;
  border: none;
  background: transparent;
}
.content-left__select-choice:focus-visible {
  outline: none;
}
.content-left__select-choice::after {
  content: "";
  top: 32;
  left: 19;
}

.content-right {
  padding: 40px 50px;
  width: 35.9%;
}
.content-right__title {
  margin-bottom: 30px;
}
.content-right__title--size {
  font-weight: 400;
}
.content-right__wrapper {
  padding-bottom: 20px;
  border-bottom: 1px solid #D6D6D6;
}
.content-right__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content-right__row:not(:last-child) {
  margin-bottom: 14px;
}
.content-right__row-left {
  margin-right: 10px;
}
.content-right__row-right {
  font-weight: 700;
}

.s-payment {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #D6D6D6;
  background-color: #F2F2F2;
  z-index: 3;
}
.s-payment__container {
  padding: 20px 43px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.s-payment__btn {
  padding: 0;
  border: none;
  background: transparent;
  font-family: "PTRootUI", sans-serif;
  cursor: pointer;
  transition: backgroud, color 0.3s ease-in-out;
  max-width: 400px;
  max-height: 80px;
  padding: 21px 50px;
  margin-right: 20px;
  color: #fff;
  border: 1px solid #E01D1D;
  background-color: #FF0000;
  border-radius: 4px;
  box-shadow: 0px 2px 0px 0px rgba(149, 135, 128, 0.4);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.0392156863);
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1215686275);
}
.s-payment__total {
  max-width: 489px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.s-payment__total-descr {
  margin-right: 10px;
}
.s-payment__total-descr--mobile {
  display: none;
}
.s-payment__total-price {
  font-weight: 700;
  font-size: 35px;
  line-height: 44.1px;
}
.s-payment__total-btn {
  display: none;
  padding: 0;
  border: none;
  background: transparent;
  font-family: "PTRootUI", sans-serif;
  cursor: pointer;
  transition: backgroud, color 0.3s ease-in-out;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.64px;
  color: #065CC2;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 16px;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-101%);
  z-index: 10;
}
.popup__title--size {
  font-weight: 400;
}
.popup__wrap {
  padding: 20px 0;
  border-bottom: 1px solid #D6D6D6;
}
.popup__wrap-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.popup__wrap-row:not(:last-child) {
  margin-bottom: 14px;
}
.popup__wrap-row--left {
  margin-right: 20px;
}
.popup__wrap-row--right {
  font-weight: 700;
}
.popup__bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 84px;
  padding: 16px;
  border-top: 1px solid #D6D6D6;
  background-color: #F8F8F8;
}
.popup__bottom-btn {
  padding: 0;
  border: none;
  background: transparent;
  font-family: "PTRootUI", sans-serif;
  cursor: pointer;
  transition: backgroud, color 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  border: 1px solid #D6D6D6;
  border-radius: 4px;
  box-shadow: 0px 2px 0px 0px rgba(149, 135, 128, 0.4);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.0392156863);
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1215686275);
}/*# sourceMappingURL=index.css.map */