@media (max-width: 1623px) {
  .content-left__item--medium .content-left__item-wrap {
    max-width: 100%;
  }
  .content-left__item-price--desktop {
    display: none;
  }
  .content-left__item-price--mobile {
    display: block;
  }
}
@media (max-width: 1500px) {
  .content-left__item--medium {
    max-width: unset;
  }
  .content-left__select {
    flex-direction: column;
  }
  .content-left__select-section:not(:last-child) {
    margin-bottom: 8px;
    margin-right: 0;
  }
}
@media (max-width: 1382px) {
  .content-left__wrap-data {
    flex-direction: column;
    align-items: flex-start;
  }
  .content-left__item--medium {
    max-width: unset;
  }
  .content-left__list {
    margin-bottom: 12px;
    margin-right: 0;
  }
}
@media (max-width: 1165px) {
  .fs-text {
    font-size: 17px;
    line-height: 21.42px;
  }
  .fs-headers {
    font-size: 21px;
    line-height: 26.46px;
  }

  .s-order__content {
    border: none;
  }

  .content-left {
    width: 100%;
    border-right: none;
  }
  .content-left__swiper-btns {
    position: absolute;
    top: -5px;
    right: 83px;
  }

  .content-right {
    display: none;
  }

  .s-payment__container {
    flex-direction: column-reverse;
  }
  .s-payment__total {
    max-width: unset;
    margin-bottom: 16px;
  }
  .s-payment__total-descr {
    display: none;
  }
  .s-payment__total-descr--mobile {
    display: inline;
    margin-right: 2px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.64px;
  }
  .s-payment__total-price {
    margin-right: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.64px;
  }
  .s-payment__total-btn {
    display: inline;
  }
  .s-payment__btn {
    margin-right: 0;
    width: 100%;
    height: 52px;
    padding: 16px 20px;
    font-size: 17px;
    line-height: 21.42px;
  }

  .popup.is-active {
    transform: none;
  }
}
@media (max-width: 765px) {
  .s-order__container {
    padding-top: 40px;
  }
  .s-order__title {
    margin-bottom: 16px;
    padding-left: 16px;
    font-size: 27px;
  }

  .content-left {
    padding: 24px 16px;
  }
  .content-left__title {
    margin-bottom: 8px;
  }
  .content-left__item {
    padding: 16px 20px;
  }
  .content-left__item--small {
    width: 123px;
    height: 75px;
  }
  .content-left__item--small .content-left__item-wrap {
    align-items: center;
  }
  .content-left__item--medium {
    max-width: 300px;
    width: 100%;
  }
  .content-left__item-title--decktop {
    display: none;
  }
  .content-left__item-title--mobile {
    display: inline;
  }
  .content-left__item-description {
    font-size: 14px;
  }
  .content-left__swiper-btns {
    display: none;
  }
  .content-left__select-section:first-child {
    flex-direction: column-reverse;
  }
  .content-left__select-section:last-child {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .content-left__select-wrap {
    margin-bottom: 0;
  }
  .content-left__select-wrap--large {
    width: 100%;
  }
  .content-left__select-wrap--small {
    margin-right: auto;
    width: 210px;
  }
  .content-left__btn--place {
    position: absolute;
    top: -31px;
    right: 16px;
  }

  .s-payment__container {
    padding: 16px;
  }
}
@media (max-width: 375px) {
  .content-left__select-section:last-child .content-left__btn {
    max-width: 69px;
  }
}/*# sourceMappingURL=media.css.map */