/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {

}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {

}

/* md <= Large (lg) */
@media (max-width : 992px) {
	body{
		margin: 0px;
		padding: 0px;
	}
	
	.main{
		max-width: 500px;
		margin: 0 auto;
	}
	
	.header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 45px;
	}
	.logo-wrapper{
		margin-bottom: 0px;
	}
	.logo-mobile{
		display: none;
	}

	.profile{
		margin-top: 60px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.main-image-mobile-item{
		display: none;
	}
	.profile-text-wrapper{
		text-align: center;
		margin-top: 20px;
	}
	.icon{
		max-width: 35px;
		margin-right: 20px;
	}
	.contacts-wrapper-item:not(:last-child){
		margin-bottom: 21px;
	}
	.contacts-wrapper-item{
		display: flex;
		align-items: center;
		
	}
	.contacts-wrapper{
		border-radius: 10px;
		border: 2px solid #0500FF;
		padding-left: 33px;
		padding-right: 33px;
		padding-top: 21px;
		padding-bottom: 21px;
		width: 338px;
	}
	.contacts-wrapper-item-title{
		margin-right: 33px;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-weight: 400;
		font-size: 22px;
	}
	h1{
		margin-top: 15%;
		margin-bottom: 7px;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-weight: 500;
		font-size: 35px;
	}
	h3{
		margin-top: 0%;
		margin-bottom: 10px;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-weight: 400;
		font-size: 24px;
		color: rgba(0, 0, 0, 0.5);
	}
	.links-wrapper{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 80px;
	}
	.messangers-wrapper-title{
		margin-bottom: 20px;
	}
	.messangers-wrapper-title-icon:not(:last-child){
		margin-right: 28px;
	}
	.footer{
		margin-top: 100px;
		margin-bottom: 25px;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 14px;
		font-weight: 300;
		color: rgba(0, 0, 0, 0.5);
		text-align: center;
	}

	.qr-code{
		margin-top: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.skills-wrapper{
		background: #ffffff;
		max-width: 500px;
		border-radius: 10px;
		box-shadow: 5px 7px 15px 3px rgb(0 0 0 / 20%);
		padding: 28px 30px 28px 30px;
		margin-top: 20px;
	}
	.skills-wrapper-item{
		display: flex;
		flex-wrap: wrap;
		max-width: 500px;
	}
	.wrapper{
		display: block;
	}
	.timeline{
		margin-left: 0%;
	}
	.line{
		max-width: 440px;
	}
	.work-experience-wrapper{
		margin-top: 20px;
	}
	.batton-logo-company{
		color: #0016a7;
		font-weight: 400;
		margin-bottom: 20px;
		border: 0px solid;
		border-radius: 10px;
		padding: 0px;
	}

}

/* sm <= Medium (md) */
@media (max-width : 768px) {

}

/* xs <= Small (sm) */
@media (max-width : 515px) {
	body{
		margin: 0px;
		padding: 0px;
	}
	
	.main{
		width: 280px;
		margin: 0 auto;
	}
	
	.header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 45px;
	}
	.logo-wrapper{
		margin-bottom: 15px;
	}
	.logo-mobile{
		display: inline;
	}
	.logo{
		display: none;
	}
	a{
		text-decoration: none;
		color: #000;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-weight: 300;
		font-size: 16px;
	}
	.profile{
		margin-top: 60px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.main-image-mobile-item{
		display: inline;
		width: 170px;
	}
	.main-image-item{
		display: none;
	}
	.profile-text-wrapper{
		text-align: center;
		margin-top: 20px;
	}
	.icon{
		max-width: 25px;
		margin-right: 20px;
	}
	.contacts-wrapper-item:not(:last-child){
		margin-bottom: 21px;
	}
	.contacts-wrapper-item{
		display: flex;
		align-items: center;
		
	}
	.contacts-wrapper{
		border-radius: 10px;
		border: 2px solid #0500FF;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
		width: 260px;
	}
	.contacts-wrapper-item-title{
		margin-right: 33px;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-weight: 300;
		font-size: 18px;
	}
	h1{
		margin-top: 10%;
		margin-bottom: 7px;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-weight: 500;
		font-size: 25px;
	}
	h3{
		margin-top: 0%;
		margin-bottom: 10px;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-weight: 300;
		font-size: 20px;
		color: rgba(0, 0, 0, 0.5);
	}
	.qr-code{
		margin-top: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.links-wrapper{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 80px;
	}
	.messangers-wrapper-title{
		margin-bottom: 20px;
	}
	.messangers-wrapper-title-icon:not(:last-child){
		margin-right: 10px;
	}
	.massenger-icons{
		width: 80px;
		height: 80px;
	}
	button{
		width: 268px;
		height: 55px;
		font-weight: 400;
		font-size: 18px;
	}
	.nav{
		width: 70px;
		font-size: 12px;
		padding: 3px 5px 3px 5px;
		border: 2px solid #0500FF;
		border-radius: 8px;
		animation: none;
		text-align: center;
	}
	
	.footer{
		margin-top: 100px;
		margin-bottom: 25px;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 14px;
		font-weight: 300;
		color: rgba(0, 0, 0, 0.5);
		text-align: center;
	}

	.qr-code-image{
		width: 300px;
		height: 300px;
	}
	.skills-wrapper-main{
		font-size: 24px;
	}
	.skills-wrapper-item-content{
		font-size: 18px;
	}
	.work-experience-wrapper-main-text{
		font-size: 24px;
	}
	.responsibilities-wrapper-item-text{
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 18px;
		font-weight: 400;
		max-width: 361px;
	}
	.responsibilities-wrapper-item-image{
		width: 30px;
		height: 30px;
		margin-right: 20px;
	}
	.position{
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-weight: 500;
		font-size: 20px;
		margin-bottom: 5px;
	}
	.company{
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-weight: 400;
		font-size: 16px;
	}
	.timeline{
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-weight: 400;
		font-size: 12px;
		color: #0094FF;
		margin-left: 0%;
	}
	.line{
		width: 220px;
		height: 1px;
		background: #0094FF;
		opacity: 0.9;
	}
	.work-experience-item-wrapper:not(:last-child){
		margin-bottom: 28px;
	}
	.wrapper{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 5px;
	}
	.batton-logo-company{
		color: #0016a7;
		font-weight: 400;
		margin-bottom: 20px;
		border: 0px solid;
		border-radius: 10px;
		padding: 0px;
	}
}



/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 365) {
	
}

/* Small (sm) */
@media (min-width : 576px) {

}

/* Medium (md) */
@media (min-width : 768px) {

}

/* Large (lg) */
@media (min-width : 992px) {

}

/* Extra large (xl) */
@media (min-width : 1200px) {
	.text {
		font-size: 18px;
	}
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {
	.text {
		font-size: 22px;
	}
}
