body{
    margin: 0px;
    padding: 0px;
}

.main{
    max-width: 994px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 45px;
}
.logo-mobile{
    display: none;
}
a{
    text-decoration: none;
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 18px;
}
/* a:hover{
    transition: all 100ms linear 0s;
    opacity: 100%;
    color: #000d65;
    font-weight: 400;
} */
.nav{
    border: 2px solid #0500FF;
    border-radius: 10px;
    padding: 5px 20px;
}
.nav:hover{
    transition: all 300ms ease-out;
    background: #0500FF;
}
a > .nav:hover{
    color: #fff;
    padding: 5px 40px;
}
.qr-code{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.icon{
    max-width: 35px;
    margin-right: 20px;
}
.contacts-wrapper-item:not(:last-child){
    margin-bottom: 21px;
}
.contacts-wrapper-item{
    display: flex;
    align-items: center;
    
}
.contacts-wrapper{
    border-radius: 10px;
    border: 2px solid #0500FF;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 21px;
    padding-bottom: 21px;
}
.contacts-wrapper-item-title{
    margin-right: 33px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 22px;
}
h1{
    margin-top: 20px;
    margin-bottom: 7px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 35px;
}
h3{
    margin-top: 0%;
    margin-bottom: 90px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
}

.footer{
    margin-top: 150px;
    margin-bottom: 45px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}



